.contain{
	 padding: 16px;
  width: 80%;
  height:70%;
  padding-left: 400px;
  padding-right: 300px;
  padding-top: 100px;

}
html{
  font-family: Source Sans Pro;
  font-size: 15px;
}
/* Full-width input fields */
input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus:focus {
  background-color: #ddd;
  outline: none;
}
.button{

	 background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 33%;
  text-align: center;
}